# Spotify API Credentials
# Get them from your Spotify Developer Dashboard: https://developer.spotify.com/dashboard/
VITE_SPOTIFY_CLIENT_ID=YourSpotifyClientID
VITE_SPOTIFY_CLIENT_SECRET=YourSpotifyClientSecret

# TheDogAPI Key
# Get a free key here: https://thedogapi.com/signup
VITE_THEDOGAPI_KEY=YourDogAPIKey